{% extends "site_base.html" %}

{% block header_base %}
    <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
    <div class="container">
        {% block topbar %}

            <div id="fever_nav_sitetitle">
            {% if user.is_authenticated %}
                <a class="brand" href="/dashboard/">InsightFever.com</a>
            {% else %}
                <a class="brand" href="/">InsightFever.com</a>
            {% endif %}
            </div>

            {% block nav %}{% endblock %}
            {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}

        {% endblock %}
    </div>
    </div>
    </div>
{% endblock %}


{% block body_base %}
    <div class="container">
        {% block body %}{% endblock %}
    </div>
{% endblock %}

