<div class="two_col_txt"><p>@@ch_summary@@</p></div>

<div class="yelp_wrap">
    <div id="bizInfoHeader">
        <h1 class="org">@@ch_property_name@@</h1>
        <div id="bizRating">
        <div class="rating">
        <span class="star-img @@ch_stars_class@@">
        <img class="rating average" width="84" height="325" alt="@@ch_alt_tag@@ star rating" src="img/yelp/stars_map.png">
        </span>
        </div>
        <span class="review-count"><span class="count">@@ch_review_count@@</span> reviews</span>
        </div>
    </div>
</div>
