<div class="two_col_txt"><p>@@ch_summary@@</p></div>
<div class="aptratings_container">
        <div class="whiteBox_headerMid">AVERAGE RATING</div>
        <div class="whiteBox statsBox">
            <div class="ratingsBox" id="box1">
                <strong>recommended by:</strong><br>
                <span class="reco">@@ch_recommended_by@@</span><br><br>
                <strong>overall rating:</strong><br>
                <div class="ratingNum"><div class="rating">@@ch_overall_rating@@</div></div>
                <div class="ratingBig"><img src="img/apartmentratings/b@@ch_img_overall_rating@@_5.gif" height="18" width="97"></div>
            </div>
            
            <div class="ratingsBox" id="box2">
                <div class="ratingNumSm">@@ch_parking@@</div>
                <img src="img/apartmentratings/@@ch_img_parking@@_5.gif" class="ratingRight" />
                Parking:<br>
                <div class="ratingNumSm">@@ch_maintenance@@</div>
                <img src="img/apartmentratings/@@ch_img_maintenance@@_5.gif" class="ratingRight" />
                Maintenance:<br>
                <div class="ratingNumSm">@@ch_construction@@</div>
                <img src="img/apartmentratings/@@ch_img_construction@@_5.gif" class="ratingRight" />
                Construction:<br>
                <div class="ratingNumSm">@@ch_noise@@</div>
                <img src="img/apartmentratings/@@ch_img_noise@@_5.gif" class="ratingRight" />
                Noise:<br>
                <div class="ratingNumSm">@@ch_grounds@@</div>
                <img src="img/apartmentratings/@@ch_img_grounds@@_5.gif" class="ratingRight" />
                Grounds:<br>
                <div class="ratingNumSm">@@ch_safety@@</div>
                <img src="img/apartmentratings/@@ch_img_safety@@_5.gif" class="ratingRight" />
                Safety:<br>
                <div class="ratingNumSm">@@ch_staff@@</div>
                <img src="img/apartmentratings/@@ch_img_staff@@_5.gif" class="ratingRight" />
                Office Staff:<br>
            </div>
        </div>
</div>
