<div class="section_wrapper">
    <h1 class="toggle_title">HIGHLIGHTED POSTS</h1>
    <div class="toggle_content">
    
    <div class="report_summary">
    Here you will find posts of interest written by future 
    and existing residents alike. We have provided a summary of each post, as well
    as bolded information we feel is especially deserving of your attention.
    </div>
    <div class="report_content">
            @@POSTS_FACEBOOK@@
            @@POSTS_APTRATINGS@@
            @@POSTS_YELP@@
            @@POSTS_TWITTER@@
            @@POSTS_YOUTUBE@@
    </div>
</div>
</div>