<div class="section_wrapper">
    <h1 class="toggle_title">RATING SITES REPORT</h1>
    <div class="toggle_content">
    
    <div class="report_summary">
        Below is your rating/score as it currently
        appears on the given rating-sites. The up-down arrows are used to indicate
        an increase or decrease in your rating compared to the previous month. You
        will see a circle for no change. 
        
        Please note that the more ratings you acquire the more your score will stabilize.
    </div>
    <div class="report_content">
        
        
        <div class="two_col">
            <a href="@@URL_APTRATINGS@@">Apartmentratings.com</a>
            @@APTRATINGS_WIDGET@@
        </div>
        
        <!--/////////////////////////////////////////////////-->
        
        <div class="two_col">
            <a href="@@URL_YELP@@">Yelp.com</a>
            <div class="two_col_txt"><p>Yelp rating saw no change this month.</p></div>
            
            <div class="yelp_wrap">
                <div id="bizInfoHeader">
                    <h1 class="org">@@CLIENT@@</h1>
                    <div id="bizRating">
                    <div class="rating">
                    <span class="star-img stars_2_half">
                    <img class="rating average" width="84" height="325" alt="4.5 star rating" src="img/yelp/stars_map.png">
                    </span>
                    </div>
                    <span class="review-count"><span class="count">7</span> reviews</span>
                    </div>
                </div>
            </div><!--end yelp_wrap-->
        
        </div>
        
        <div class="brclear"></div>
        <!--/////////////////////////////////////////////////-->
        
        <h2 id="ratings_graph_title">Apartment Ratings Overtime</h2>
        <div id="ratings_graph"></div>
        
        
    </div><!--end report_content -->
    
</div>
</div><!--end_section_wrapper-->