<div class="section_wrapper">
    <h1 class="toggle_title">VIDEO</h1>
    <div class="toggle_content">
    
    <div class="report_summary">
        Here are the short amateur style video clips posted
        on Youtube this month. The purpose of these videos are to provide brief glimpses
        (max 20sec or so on average) of special features pertaining to your property and its
        surroundings. 
        <br><br>
        By highlighting qualities that might otherwise go unnoticed, we
        can ensure a better customer satisfaction for existing residents while at the same time
        providing potential residents with more incentive for signing that dotted line.</div>
    <div class="report_content">
        
        <div id="video_container">
        <h3>VIDEO ONE</h3>
        <div class="video_summary">summary of video</div>
        <!--<iframe width="425" height="349" src="http://www.youtube.com/embed/aFRNh59w2d8" frameborder="0" allowfullscreen></iframe>-->
        </div>
        
        <br><br>
        <p>Visit your <a href="@@URL_YOUTUBE@@">Youtube page</a> for more.</p>
    </div><!--end report_content -->


</div>
</div><!--end_section_wrapper-->
