<div class="section_wrapper">
    <h1 class="toggle_title">CONCLUSION / FUTURE DIRECTION</h1>
    <div class="toggle_content">
    
    <div class="report_summary">
        Here we describe our general conclusions given all that
        was experienced this month. Prevalent themes are addressed, as well as
        various questions, concerns, and many other miscellaneous items of interest.
        <br>We end things by making suggestions and setting out a preliminary course for next month.
        <br><br><br>
    </div>
    <div class="report_content">
        
        <h2>Resident Concerns</h2>
            <ul class="report_list">
                <li><p>summarize this months resident concerns</p></li>
                <li>concern one</li>
                <li>concern two</li>
            </ul>
        
        <br><br>
        
        <h2>Resident Praise</h2>
        <ul class="report_list">
            <li><p>list out quotes of this months resident praise</p></li>
            <li>praise one</li>
            <li>praise two</li>
        </ul>
        
        <br><br>
        
        <h2>Main take away 1</h2>
        <ul class="report_list">
            <li><p>Info about main take away one.</p></li>
        </ul>
        
        <br><br>
        
        <h2>Main take away 2</h2>
            <ul class="report_list">
                <li>
                <p>Info about main take away two.</p>
                <br>
                <ul class="report_list">
                    <li><h3>Scenario One:</h3></li>
                    <li class="senario_synopsis">more info here</li>
                    <li>SOLUTION:</li>
                </ul>
                </li>
            </ul>
        

            </p>
        <div class="report_title">Goals for Next Month</div>
        <ul class="report_list">
        <li>goal one</li>
        <li>goal two</li>
        <li>goal three</li>
        </ul>
        
    </div><!--end report_content -->
    

</div>
</div><!--end_section_wrapper-->